{# empty Twig template #}
{% extends 'LivretBundle::layout.html.twig' %}

{% block body %}
    <div class="row">

        <h1> Aide pour la navigation</h1>

        <p> Voici une petite aide pour vous aider à naviguer dans les différents menus </p>

        <h3> Pour l'apprenti et le tuteur : </h3>

        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons"></i>La barre de navigation</div>
                <div class="collapsible-body"><p> <img src="{{ asset('./assets/img/aide_nav_menu.png') }}"/>
                        <br/>
                        Elle est constitué des différents boutons pour pouvoir naviguer entre les différents pages détaillés ci-dessous</p>
                </div>
            </li>         
        </ul>

        <ul class="collection">
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Accueil"
                <br/>
                Ce bouton permet de revenir à la page principale de l' application.
            </li>
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Consultation"
                <br/>
                <br/>
                <img src="{{ asset('./assets/img/bouton-consultation.png') }}"/>
                <br/>
                <br/>
                Ce menu déroulant propose trois sous-boutons pour pouvoir accèder aux livrets de quinzaines, de l'apprenti et au tableau des compétences validées.
            </li>
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Mentions Légales"
                <br/>
                Ce bouton donne un accès aux mentions légales de l' application.
            </li>
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Profil" 
                <br/>
                Il permet d'importer ou de modifier sa signature
            </li>

            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Déconnexion"
                
                Cliquez sur cette icône : <img src="{{ asset('./assets/img/bouton-logout.png') }}"/> pour vous déconnecter de votre profil.
            </li>
        </ul>

          <br/>
          
        <h3> Pour le RD : </h3>
        
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons"></i>La barre de navigation</div>
                <div class="collapsible-body"><p> <img src="{{ asset('./assets/img/aide_nav_menu_rd.png') }}"/>
                        <br/>
                        Elle est constitué des différents boutons pour pouvoir naviguer entre les différents pages détaillés ci-dessous</p>
                </div>
            </li>         
        </ul>

        <ul class="collection">
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Accueil"
                <br/>
                Ce bouton permet de revenir à la page principale de l' application.
            </li>
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Modification"
                <br/>
                <br/>
                <img src="{{ asset('./assets/img/bouton-modification.png') }}"/>
                <br/>
                <br/>
                Ce menu déroulant propose deux sous-boutons pour pouvoir accèder aux modifications du livret et des activités/compétences.
            </li>
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Consultation"
                <br/>
                <br/>
                <img src="{{ asset('./assets/img/bouton-consultation-rd.png') }}"/>
                <br/>
                <br/>
                Ce menu déroulant propose trois sous-boutons pour pouvoir accèder au model du livret, aux livrets des apprentis et aux compétences validées par les apprentis.
            </li>
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Mentions Légales"
                <br/>
                Ce bouton donne un accès aux mentions légales de l' application.
            </li>
            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Profil" 
                <br/>
                <br/>
                <img src="{{ asset('./assets/img/bouton-import-rd.png') }}"/>
                <br/>
                <br/>
                Il permet d'importer, de modifier sa signature et d'importer les élèves via un fichier CSV.
            </li>

            <li class="collection-item"> <i class="material-icons">label</i> Le bouton "Déconnexion"
                
                Cliquez sur cette icône : <img src="{{ asset('./assets/img/bouton-logout.png') }}"/> pour vous déconnecter de votre profil.
            </li>
        </ul>
        
        

    </div>
{% endblock %}