{% extends 'LivretBundle::layout.html.twig' %}

{% block body %}
    {% for periodeFormation in livret.periodeFormation %}
        <div class="periodes-livret p{{ loop.index }}">


            <!-- Fiche période de formation -->
            <div class="p{{ loop.index }} formation">
                <!-- bouton ajout d'une ligne -->
                {% if is_granted("ROLE_APPRENTI") %}
                    <div class="addLine-formation">
                        <button class="btn btn-floating bleu waves-effect waves-light"
                                data-periode="{{ periodeFormation.id }}">
                            +
                        </button>
                    </div>
                {% endif %}

                <h1 class="quinzaineTitle bleu-text">Modules de formation pendant la quinzaine</h1>
                <img src="{{ asset('assets/img/fond-title.png') }}" class="fond-title"/>

                <div class="row rowQuinzaine">
                    <div class="col s6">
                        Nom de l'apprenti : {{ apprenti.username }}
                    </div>
                    <div class="col s6">
                        Période d'évaluation du : {{ periodeFormation.dateDebutF|date("d/m/y") }} au
                        : {{ periodeFormation.dateFinF|date("d/m/y") }}
                    </div>
                </div>
                <div class="row">
                    <table class="tableQuinzaine">
                        <thead>
                        <tr>
                            <th>Module de formation professionnelle</th>
                            <th>Lien avec ce qui a déjà été fait en entreprise</th>
                            <th>Difficultés rencontrées</th>
                            <th>Ce qu'il faudrait expérimenter en entreprise</th>
                            {% if is_granted("ROLE_APPRENTI") %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody class="separator">
                        <tr colspan="4"></tr>
                        </tbody>
                        <tbody class="tbody-formation" data-url="{{ path('livret_quinzaine_formation_ajouter') }}">
                        {% for item in periodeFormation.itemCours %}
                            <tr class="f{{ loop.index }}">
                                <td>{{ item.moduleFormation }}</td>
                                <td>{{ item.liensEntreprise }}</td>
                                <td>{{ item.difficulte }}</td>
                                <td>{{ item.experimentationEntreprise }}</td>
                                {% if is_granted("ROLE_APPRENTI") %}
                                    <td>
                                        <div class="removeLine">
                                            <a href="{{ path('livret_quinzaine_formation_item_delete', {'idItem' : item.id }) }}">
                                                <button class="btn btn-floating red waves-effect waves-light"
                                                        data-line="f{{ loop.index }}" data-item="{{ item.id }}">
                                                    X
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tbody class="separator ">
                        <tr colspan="4"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="row rowSignature">
                    <div class="row">
                        <div class="col s4">
                            <span class="signature-title">
                                Signature du maître d'apprentissage
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="signature-title">
                                Signature de l'apprenti(e)
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="signature-title">
                                Signature du reponsable de dispositif
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_TUTEUR") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_APPRENTI") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_RD") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fiche période d'entreprise -->
            <div class="p{{ loop.index }} entreprise">
                <!-- bouton pour ajouter une ligne -->

                {% if is_granted("ROLE_APPRENTI") %}
                    <div class="addLine-entreprise">
                        <button class="btn btn-floating bleu waves-effect waves-light"
                                data-periode="{{ periodeFormation.id }}">
                            +
                        </button>
                    </div>
                {% endif %}

                <h1 class="quinzaineTitle bleu-text">Activités Réalisées pendant la quinzaine en entreprise</h1>
                <img src="{{ asset('assets/img/fond-title.png') }}" class="fond-title"/>

                <div class="row rowQuinzaine">
                    <div class="col s6">
                        Nom de l'apprenti : {{ apprenti.username }}
                        <br/>
                        Période d'évaluation du : {{ periodeFormation.dateDebutF|date("d/m/y") }} au
                        : {{ periodeFormation.dateFinF|date("d/m/y") }}
                    </div>
                    <div class="col s6">
                        Nom du maître d'apprentissage : {{ tuteur.username }}
                    </div>
                </div>
                <div class="row">
                    <table class="tableQuinzaine">
                        <thead>
                        <tr>
                            <th>Intitulé de l'Activité</th>
                            <th>Description de l'activité</th>
                            <th>Savoirs théorique ou pratique. Savoir faire</th>
                            <th>Aptitude rellationnelles. Savoir être</th>
                            <th>Compétences</th>
                            {% if is_granted("ROLE_APPRENTI") %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody class="separator">
                        <tr colspan="5"></tr>
                        </tbody>
                        <tbody>
                        {% for item in periodeFormation.itemEntreprise %}
                            <tr>
                                <td>{{ item.libelleActivite }}</td>
                                <td>{{ item.descriptionActivite }}</td>
                                <td>{{ item.savoirTheorique }}</td>
                                <td>{{ item.aptitudeRelationnelle }}</td>
                                <td>
                                    {% for c in item.competencesUtil %}
                                        {% for competence in c.competence %}
                                            {{ competence }}
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                                {% if is_granted("ROLE_APPRENTI") %}
                                    <td>
                                        <div class="removeLine">
                                            <a href="{{ path('livret_quinzaine_entreprise_item_delete', {'idItem' : item.id }) }}">
                                                <button class="btn btn-floating red waves-effect waves-light"
                                                        data-line="f{{ loop.index }}" data-item="{{ item.id }}">
                                                    X
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tbody class="separator">
                        <tr colspan="5"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="row rowSignature">
                    <div class="row">
                        <div class="col s4">
                            <span class="signature-title">
                                Signature du maître d'apprentissage
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="signature-title">
                                Signature de l'apprenti(e)
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="signature-title">
                                Signature du reponsable de dispositif
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_TUTEUR") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_APPRENTI") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_RD") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fiche evaluation tuteur -->
            <div class="p{{ loop.index }} tuteur">
                <h1 class="quinzaineTitle bleu-text">Evaluation des activités par le maitre d'apprentissage</h1>
                <img src="{{ asset('assets/img/fond-title.png') }}" class="fond-title"/>

                <div class="row rowQuinzaine">
                    <div class="col s6">
                        Nom de l'apprenti : {{ apprenti.username }}
                        <br/>
                        Période d'évaluation du : {{ periodeFormation.dateDebutF|date("d/m/y") }} au
                        : {{ periodeFormation.dateFinF|date("d/m/y") }}
                    </div>
                    <div class="col s6">
                        Nom du maître d'apprentissage : {{ tuteur.username }}
                    </div>
                </div>
                <div class="row">
                    <table class="tableQuinzaine">
                        <thead>
                        <tr>
                            <th rowspan="2">Intitulé de l'Activité</th>
                            <th rowspan="2">Compétences liées</th>
                            <th colspan="4">Degré de maîtrise des compétences</th>
                            <th rowspan="2">Validation des compétences. Acquise/Non Acquise</th>
                        </tr>
                        <tr>
                            <th class="tooltipped" data-position="top"
                                data-tooltip="1. En formation : le (la) salarié(e) découvre l'activité">
                                1
                            </th>
                            <th class="tooltipped" data-position="top"
                                data-tooltip="2. Autonomie : Il (elle) exécute correctement l'activité sans aide">
                                2
                            </th>
                            <th class="tooltipped" data-position="top"
                                data-tooltip="3. Maîtrise : il (elle) réussit et atteint les objectifs">
                                3
                            </th>
                            <th class="tooltipped" data-position="top"
                                data-tooltip="4. Innovation : il (elle) améliore l'activité et peut former quelqu'un d'autre">
                                4
                            </th>
                        </tr>
                        </thead>
                        <tbody class="separator">
                        <tr colspan="7"></tr>
                        </tbody>
                        <tbody>
                        {% for item in periodeFormation.itemEntreprise %}
                            <tr>
                                <td rowspan="{{ item.competencesUtil|length + 1 }}">{{ item.libelleActivite }}</td>
                            </tr>
                            {% for comp in item.competencesUtil %}
                                {% for c in comp.competence %}
                                    <tr data-url="{{ path('livret_quinzaine_tuteur_maitrise') }}"
                                        data-idcomp="{{ comp.id }}" data-idlivret="{{ livret.id }}"
                                        data-idperiode="{{ periodeFormation.id }}" data-iditem="{{ item.id }}"
                                        class="{% if is_granted("ROLE_TUTEUR") %} element-checkable {% endif %} {% if loop.parent.loop.index is divisibleby(2) %} odd {% else %} even {% endif %}">
                                        <td>{{ c }}</td>
                                        <td data-maitrise="1"
                                            class="checkable {% if comp.degreMaitrise == 1 %} checked {% endif %}"></td>
                                        <td data-maitrise="2"
                                            class="checkable {% if comp.degreMaitrise == 2 %} checked {% endif %}"></td>
                                        <td data-maitrise="3"
                                            class="checkable {% if comp.degreMaitrise == 3 %} checked {% endif %}"></td>
                                        <td data-maitrise="4"
                                            class="checkable {% if comp.degreMaitrise == 4 %} checked {% endif %}"></td>
                                        <td class="description aRemplir">
                                            {% if is_granted("ROLE_TUTEUR") %}
                                                <input type="text" name="description{{ loop.index }}"
                                                       class="saveDescriptionComp"
                                                       data-url="{{ path('livret_quinzaine_tuteur_description') }}"
                                                       data-idcomp="{{ comp.id }}" data-idlivret="{{ livret.id }}"
                                                       value="{{ comp.description }}"/>
                                            {% else %}
                                                {{ comp.description }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}

                        <tr>
                            <td><strong>Conclusion de l'évaluation : </strong></td>
                            <td colspan="6"></td>
                        </tr>

                        </tbody>
                        <tbody class="separator">
                        <tr colspan="7"></tr>
                        </tbody>

                    </table>
                </div>
                <div class="row rowSignature">
                    <div class="row">
                        <div class="col s4">
                            <span class="signature-title">
                                Signature du maître d'apprentissage
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="signature-title">
                                Signature de l'apprenti(e)
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="signature-title">
                                Signature du reponsable de dispositif
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_TUTEUR") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_APPRENTI") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="aRemplir">
                                {% if is_granted("ROLE_RD") %}
                                    <button class="btn bleu btSignature center-align">
                                        Ajouter la signature
                                    </button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    <!-- Formulaire d'ajout d'une ligne de quinzaine formation -->
    <div id="formAddItemFormation">
        <h1 class="bleu-text quinzaineTitle">Module de formation</h1>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <div class="form-content">
            <form action="{{ path('livret_quinzaine_formation_ajouter') }}" method="POST">
                <div class="row">

                    <label for="module">Module de formation : </label>
                    <input id="module" type="text" name="module" required/>

                    <label for="lien">Lien avec ce qui a &eacute;t&eacute; fait en entreprise : </label>
                    <input id="lien" type="text" name="lienEntreprise" required/>

                    <label for="difficulte">Difficult&eacute;s rencontr&eacute;es : </label>
                    <input id="difficulte" type="text" name="difficulte" required/>

                    <label for="experimenter">Ce qu'il faudrait expérimenter en entreprise : </label>
                    <input id="experimenter" type="text" name="experimenter" required/>

                    <button class="btn vert" type="submit">Valider</button>
                </div>
            </form>
        </div>
    </div>

    <!-- formulaire d'ajout d'une ligne de période d'entreprise -->
    <div id="formAddItemEntreprise">
        <h1 class="bleu-text quinzaineTitle">Activité réalisée en entreprise</h1>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <div class="form-content">
            <form action="{{ path('livret_quinzaine_entreprise_ajouter') }}" method="POST">
                <div class="row">
                    <div class="row">
                        <label for="intitule">Intitulé de l'activité : </label>
                        <input id="intitule" type="text" name="intitule" required/>

                        <label for="description">Description de l'activité : </label>
                        <input id="description" type="text" name="description" required/>

                        <label for="savoirfaire">Savoirs théorique ou pratique : </label>
                        <input id="savoirfaire" type="text" name="savoirfaire" required/>

                        <label for="savoiretre">Aptitude relationnelles, savoir être : </label>
                        <input id="savoiretre" type="text" name="savoiretre" required/>
                        <div class="inputHidden">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s5">
                            <a class="modal-trigger" href="#modalCompetences">
                                <button class="btn bleu">Ajouter des compétences</button>
                            </a>
                        </div>
                        <div class="col s7">
                            <table class="competence-ajoutee">
                                <thead>
                                <tr>
                                    <th>Competence ajoutées</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <button class="btn vert" type="submit">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="modalCompetences" class="modal">
        <div class="modal-content">
            <h4>liste des compétences</h4>
            <table id="tableCompetences" data-page-length="5">
                <thead>
                <tr>
                    <th>Activité</th>
                    <th>Compétence</th>
                </tr>
                </thead>
                <tbody>
                {% for a in livret.activite %}
                    {% for c in a.competences %}
                        <tr class="competence-element">
                            <td>{{ a.titre }}</td>
                            <td class="comp">{{ c.code }} - {{ c.descriptif }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!"
               class="btn-ajout-competence modal-action modal-close waves-effect waves-green btn-flat">Valider</a>
        </div>
    </div>

    <!-- Formulaire d'ajout d'une période -->
    <div id="formQuinzaine">
        <h1 class="bleu-text quinzaineTitle">Ajouter une période</h1>
        <img src="{{ asset('assets/img/fond-title.png') }}" class="fond-title"/>

        <div class="form-content">
            <form action="{{ path('livret_quinzaine_ajouter') }}" method="POST">
                <div class="row">
                    <div class="col s6">
                        <fieldset>
                            <legend class="bleu-text">Formation :</legend>
                            <label for="ddf">Du : </label>
                            <input id="ddf" name="ddf" type="date" class="datepicker"/>
                            <label for="dff">Au : </label>
                            <input id="dff" name="dff" type="date" class="datepicker"/>
                        </fieldset>
                    </div>
                    <div class="col s6">
                        <fieldset>
                            <legend class="vert-text">Entreprise :</legend>
                            <label for="dde">Du : </label>
                            <input id="dde" name="dde" type="date" class="datepicker"/>
                            <label for="dfe">Au : </label>
                            <input id="dfe" name="dfe" type="date" class="datepicker"/>
                        </fieldset>
                    </div>
                </div>
                <div class="row center-align">
                    <input type="submit" class="btn bleu"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}