{% extends 'base.html.twig' %}

{# Construction du menu ici #}
{% block menu %}
    {% if app.request.attributes.get('_route') == 'livret_consulter' %}
        <div id="menu">
            {% for categorie in livret.categorie %}
                <ul class="categorie collapsible" data-collapsible="accordion">
                    <li>
                        <div class="categorie-title collapsible-header bleu-text">{{ categorie.nom }}</div>
                        {% for section in categorie.sections %}
                            <div class="sections collapsible-body {% if loop.index % 2 %} bleu-text {% else %} vert-text {% endif %}"
                                 data-vue="{{ categorie.id }} {{ section.id }}">{{ section.nom }}</div>
                        {% endfor %}
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'livret_quinzaine' %}
        <div id="menu">
            {% if is_granted('ROLE_APPRENTI') %}
                <a class="btn vert ajouterQuinzaine white-text" href="#!">Ajouter une période</a>
            {% endif %}
            {% for periodeFormation in livret.periodeFormation %}
                <ul class="periodes collapsible" data-collapsible="accordion">
                    <li>
                        <div class="periode-title collapsible-header bleu-text">
                            Du {{ periodeFormation.dateDebutF|date('d/m/y') }}
                            au {{ periodeFormation.dateFinE|date('d/m/y') }}
                        </div>
                        <div class="collapsible-body bleu-text periode-subtitle"
                             data-vue="p{{ loop.index }} formation">
                            Période formation
                        </div>
                        <div class="collapsible-body vert-text periode-subtitle"
                             data-vue="p{{ loop.index }} entreprise">
                            Période entreprise
                        </div>
                        <div class="collapsible-body bleu-text periode-subtitle"
                             data-vue="p{{ loop.index }} tuteur">
                            &Eacute;valuation tuteur
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


{# définition du contenu ici (remplacé dans les vues) #}
{% block body %}

{% endblock %}