{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="col s12" action="{{ path("fos_user_security_check") }}" method="post">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="row">
            <div class="input-field col s12">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>
        </div>

        <div class="center card-action">
            <button class="btn waves-effect waves-light" type="submit" id="_submit" name="_submit">
                {{ 'security.login.submit'|trans }}
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
{% endblock fos_user_content %}
